/**
 * Custom dashboard styles.
 */
#dashboard_right_now .post-count a::before,
#dashboard_right_now .post-count span::before {
	content: '\f488';
}

#dashboard_right_now .post-count.client-count a::before,
#dashboard_right_now .post-count.client-count span::before {
	content: '\f480';
}

#dashboard_right_now .post-count.team-count a::before,
#dashboard_right_now .post-count.team-count span::before {
	content: '\f307';
}